body{
	font-family: 'Dosis', sans-serif;
	color: #8904B1;
	font-weight: 300;
}

.portafolio-logo{
	margin-top: 20px;
	max-height: 100%;
	width: 20%;
	float: left;
}

.text-muted{
	color: #BCBBBB;
}

.text-thin{
	font-weight: 100;
}

.title-super{
	font-size: 50px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  box-sizing: border-box;
}

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 19%;
  text-align: center;
  line-height: 19px;
  padding: 19px;
  text-transform: uppercase;

}

.nav a {
  text-decoration: none;
  color: #616161;
  padding: 1.5em;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}

/*
 *
 * Header
 *
 */

.header {
  min-height: 56px;
  transition: min-height 0.3s;
}

.header__inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header__title {
  font-weight: 300;
  font-size: 3em;
  margin: 0.75em 0.25em;
  display: inline-block;
  color: #212121;
}

